body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, nav {
    background-color: #000429;
    color: white;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    height: 50px;
    margin: 0 10px;
    margin-top: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

nav li {
    margin: 5px;
    flex: 1;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 14px;
    padding: 0 10px;
}

nav a:hover {
    color: #02a7f9;
}

main {
    padding: 20px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
}

form {
    margin: 0 auto;
    max-width: 600px;
    text-align: left;
    background-color: #000429;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px #000;
}

.form-section3{
    position: absolute;
    margin-left: 320px;
    margin-top: -301px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #fff;
}

input[id="nombre"],
input[id="email"],
input[id="pais"],
input[id="telefono"],
textarea{
    width: 265px; 
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #f0f5ff; 
}

.form-section3 input[id="mensaje"], textarea {
    width: 150%; 
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #f0f5ff; 
    height: 264px;
    vertical-align: top; 
    resize: vertical;
}


input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #02a7f9;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
    margin-bottom: 5px;
}

input[type="submit"]:hover {
    background-color: #007bff;
}

.error-message {
    color: red;
    margin-top: 5px;
}

.success-message {
    color: green;
    margin-top: 5px;
}

main p {
    display: flex;
    justify-content: center;
    padding: 20px;
}

footer {
    background-color: #000429;
    padding: 20px;
    color: #FFFFFF;
    text-align: center;
    display: flex; 
    justify-content: space-between;
}

.footerinicio,
.footercontenido {
    padding: 0px;
    width: 100%;
}

.footerinicio h3,
.footercontenido h3 {
    color: #007bff;
    margin-bottom: 15px;
}

.lista {
    list-style: none;
    padding: 0;
}

.lista a {
    color: #ffffff;
    text-decoration: none;
}

.lista li {
    padding: 5px 0;
}

.lista a:hover {
    text-decoration: underline;
}

.lista li:hover::before {
    width: 70px;
}

footer p {
    padding: 5px 0;
    margin: 0;
}

@media screen and (max-width: 768px) {
    header img {
        height: 40px;
        width: 100px;
    }
    nav a{
        font-size: 12px;
    }
    h1 {
        font-size: 24px;
    }
    main {
        padding: 20px;
        text-align: center;
    }
    h2 {
        font-size: 18px;
        margin-bottom: 20px;
    }
    h3 {
        font-size: 14px;
    }
    label {
        font-size: 14px;
    }
    .form-section3 {
        position: relative;
        margin-left: 0; 
        margin-right: auto; 
        margin-top: 0px;
        width: 67%;
    }
    input[id="nombre"],
    input[id="email"],
    input[id="pais"],
    input[id="telefono"],
    textarea {
        width: 100%; 
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
        background-color: #f0f5ff; 
    }
    input[type="submit"] {
        width: 100%;
        padding: 10px;
        background-color: #02a7f9;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin-top: 15px;
        margin-bottom: 5px;
    }
    main p {
        padding: 20px;
    }
    .footerinicio h3, .footercontenido h3{
        font-size: 18px;
    }
    footer p, footer a{
        font-size: 14px;
    }
}