body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, nav {
    background-color: #000429;
    color: white;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    height: 50px;
    margin: 0 10px;
    margin-top: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

nav li {
    margin: 5px;
    flex: 1;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 14px;
    padding: 0 10px;
}

nav a:hover {
    color: #02a7f9;
}

main {
    padding: 20px;
}

h1 {
    margin-bottom: 20px;
    text-align: center;
    font-style: oblique;
}

.clase1, .clase2 {
    margin: 50px auto; 
    width: 90%; 
    display: flex;
    flex-direction: row;
    align-items: center;
}

.clase1 {
    flex-direction: row-reverse;
}

.clase2 {
    flex-direction: row;
}

.fotoindex1, .fotoindex2 {
    width: 25%;
    height: 25%;
    border: 3px solid #000429; 
    border-radius: 10%;
    margin: 0 auto 20px auto;
    margin-right: 5%;
    margin-left: 5%;
}

.texto1, .texto2 {
    flex: 1;
    width: 100%;
}

footer {
    background-color: #000429;
    padding: 20px;
    color: #FFFFFF;
    text-align: center;
    display: flex; 
    justify-content: space-between;
}

.footerinicio,
.footercontenido {
    padding: 0px;
    width: 100%;
}

.footerinicio h3,
.footercontenido h3 {
    color: #007bff;
    margin-bottom: 15px;
}

.lista {
    list-style: none;
    padding: 0;
}

.lista a {
    color: #ffffff;
    text-decoration: none;
}

.lista li {
    padding: 5px 0;
}

.lista a:hover {
    text-decoration: underline;
}

.lista li:hover::before {
    width: 70px;
}

footer p {
    padding: 5px 0;
    margin: 0;
}

@media screen and (max-width: 768px) {
    header img {
        height: 40px;
        width: 100px;
    }
    nav a{
        font-size: 12px;
    }
    h1 {
        font-size: 24px;
    }
    .fotoindex1, .fotoindex2 {
        width: 40%;
        height: 40%;
        border: 3px solid #000429; 
        border-radius: 10%;
        margin: 10px auto 10px auto;
        margin-right: 5%;
        margin-left: 5%;
    }
    .texto1, .texto2 {
        font-size: 12px; /
    }
    h2 {
        font-size: 16px;

    }
    .footerinicio h3, .footercontenido h3{
        font-size: 18px;
    }
    footer p, footer a{
        font-size: 14px;
    }
}