body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, nav {
    background-color: #000429;
    color: white;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    height: 50px;
    margin: 0 10px;
    margin-top: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

nav li {
    margin: 5px;
    flex: 1;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 14px;
    padding: 0 10px;
}

nav a:hover {
    color: #02a7f9;
}

main {
    padding: 20px;
}

h1 {
    margin-bottom: 20px;
    text-align: center;
    font-style: oblique;
}

.contenedor1 {
    margin: 30px auto;
    width: 70%;
    margin-right: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.textonosotros {
    margin: 0;
}

.caracteristicas h4 {
    white-space: nowrap;
    margin-right: 20px; 
}

.foto {
    width: 250px;
    border: 3px solid #FFFFFF;
    border-radius: 10%;
    padding: 10px;
    margin-right: 15px;
}

.texto {
    margin-left: 20px;
}

.iconos {
    position: absolute;
    padding: 10px;
    border-radius: 5px;
}

.iconos a {
    color: #007bff; 
    text-decoration: none; 
    margin-right: 10px; 
}

.escudo i {
    position: absolute;
    font-size: 24px;
    bottom: 89px;
    left: -352px;
}

.rayo i {
    position: absolute;
    font-size: 24px;
    bottom: 49px;
    left: -351px;
}


.informatica i {
    position: absolute;
    font-size: 24px;
    bottom: 10px;
    left: -349px;
}

.interfaz i {
    position: absolute;
    font-size: 24px;
    bottom: -33px;
    left: -353px;
}

.amenazas i {
    position: absolute;
    font-size: 24px;
    bottom: -72px;
    left: -351px;
}

.contenedor2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

footer {
    background-color: #000429;
    padding: 20px;
    color: #FFFFFF;
    text-align: center;
    display: flex; 
    justify-content: space-between;
}

.footerinicio,
.footercontenido {
    padding: 0px;
    width: 100%;
}

.footerinicio h3,
.footercontenido h3 {
    color: #007bff;
    margin-bottom: 15px;
}

.lista {
    list-style: none;
    padding: 0;
}

.lista a {
    color: #ffffff;
    text-decoration: none;
}

.lista li {
    padding: 5px 0;
}

.lista a:hover {
    text-decoration: underline;
}

.lista li:hover::before {
    width: 70px;
}

footer p {
    padding: 5px 0;
    margin: 0;
}

@media screen and (max-width: 768px) {
    header img {
        height: 40px;
        width: 100px;
    }
    nav a{
        font-size: 12px;
    }
    h1 {
        font-size: 24px;
    }
    .contenedor1 {
        margin: 30px auto;
        width: 90%;
        max-width: 800px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .contenedor1 h3 {
        font-size: 16px;
    }
    .contenedor1 p {
        font-size: 12px;
    }
    .caracteristicas {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
        margin-top: 10px;
    }
    .caracteristicas h4 {
        margin: 10px;
        font-size: 14px;
    }
    .foto {
        width: 200px;
        border: 3px solid #FFFFFF;
        border-radius: 10%;
        padding: 10px;
        margin-right: 15px;
    }
    .texto {
        margin-left: 20px;
    }
    .iconos{
        position: absolute;
        margin: auto;
        justify-content: center;
    }
    .iconos a, .iconos i {
        color: #007bff; 
        text-decoration: none; 
        margin: 5px; 
        font-size: 1em;
    }
    .escudo i {
        position: absolute;
        top: -277px;
        left: -72px;
    }
    .rayo i {
        position: absolute;
        top: -240px;
        left: -69px;
    }
    .informatica i {
        position: absolute;
        top: -205px;
        left: -70px;
    }
    .interfaz i {
        position: absolute;
        top: -168px;
        left: -55px;
    }
    .amenazas i {
        position: absolute;
        top: -131px;
        left: -69px;
    }
    .textonosotros {
        text-align: center;
        margin-bottom: 20px;
    }
    .contenedor2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .contenedor2 h3 {
        font-size: 16px;
    }
    .contenedor2 p {
        font-size: 12px;
    }
    .contenedor2 b {
        display: block; 
        margin-bottom: 10px;
        font-size: 14px;
    }
    .footerinicio h3, .footercontenido h3{
        font-size: 18px;
    }
    footer p, footer a{
        font-size: 14px;
    }
}